{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="text-center">Hello {{ name }}!</h1>

    <div class="d-flex justify-content-center my-5">
        <a href="{{ path("user_index") }}" class="btn btn-outline-info">Felhasználók kezelése</a>
    </div>


{% endblock %}