{% extends 'base.html.twig' %}

{% block title %}Felhasználó szerkesztése{% endblock %}

{% block body %}
    <h1>Felhasználó szerkesztése</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Frissít'}) }}

    <a href="{{ path('user_index') }}" class="btn btn-outline-secondary">Vissza</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
