{% extends 'base.html.twig' %}

{% block title %}Új felhasználó{% endblock %}

{% block body %}
    <h1>Új felhasználó létrehozása</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}" class="btn btn-outline-secondary">Vissza</a>
{% endblock %}
